<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.DeptMapper">
    <select id="listAll" resultType="Dept">
        select * from dept_inf
        <where>
            <if test="name!=null and name != ''">
                name like concat('%',#{name},'%') or remark like concat('%',#{name},'%')
            </if>

        </where>
    </select>

    <select id="findById" resultType="Dept">
        select * from dept_inf where id = #{id}
    </select>

    <insert id="insert">
        insert into dept_inf (name,remark) values (#{name},#{remark})
    </insert>

    <update id="update">
        update  dept_inf set name = #{name}, remark = #{remark} where id = #{id}
    </update>

    <delete id="delete">
        delete from dept_inf where id = #{id}
    </delete>



</mapper>