<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.mapper.TraindataMapper">
    <select id="listAll" resultType="Traindata">
        select traindata_inf.*, user_inf.username
               from traindata_inf
            left join user_inf on user_inf.id = traindata_inf.user_id
        <where>
            <if test="name!=null and name != ''">
                title like concat('%',#{name},'%') or remark like concat('%',#{name},'%')
            </if>
        </where>

    </select>

    <select id="findById" resultType="Traindata">
        select * from traindata_inf where id = #{id}
    </select>

    <insert id="insert">
        insert into traindata_inf (title,filename,remark,user_id) values (#{title},#{filename},#{remark},#{user_id})
    </insert>

    <update id="update">
         update  traindata_inf set title = #{title}, remark = #{remark}, filename = #{filename} where id = #{id}
     </update>


    <delete id="delete">
        delete from traindata_inf where id = #{id}
    </delete>

</mapper>